// Place all the styles related to the Api::Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-index {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.album-index li {
    display: block;
    padding: 5px 8px;
    max-width: 225px;
}

.album-index li img {
    max-width: 225px;
    max-height: 225px;
    width: auto;
    height: auto;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    background-color: white;
}

.album-index h2 {
    margin: 12px 0 4px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: 500;
    word-wrap: break-word;
}

.album-index h3 {
    color: #fff;
    opacity: .6;
    font-size: 12px;
    text-align: center;
    padding-top: 8px;
}

.album-index h3:hover {
    text-decoration: underline;
    opacity: 1;
    cursor: pointer;
}

.album-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin: 0 20px;
}

.album-info-container a h2 {
    font-size: 28px;
    line-height: 36px;
    text-transform: none;
    padding: 5px;
    align-content: center;
}

#album-show-title {
    width: 100%
}

.album-info-container a h3 {
    padding-bottom: 15px;
}

.album-info-container a img {
    max-width: 225px;
    max-height: 225px;
    width: auto;
    height: auto;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}