// Place all the styles related to the Api::Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../utils.scss';

.artist-index {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.artist-index li {
    display: block;
    padding: 5px 8px;
}

.artist-index li img {
    max-width: 225px;
    max-height: 225px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border-radius: 50%;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.3,0,.4,1);
}

.artist-index h2 {
    margin: 12px 0 4px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: 500;
}

.artist-index h3 {
    color: #fff;
    opacity: .6;
    font-size: 12px;
    text-align: center;
    padding-top: 8px;
}

.artist-index h3:hover {
    text-decoration: underline;
    opacity: 1;
    cursor: pointer;
}

.artist-show-container {
    position: relative;
}

.artist-info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: $main-font;
    color: $text;
    margin-top: 100px;
    font-size: 50px;
    font-weight: bolder;
}

.artist-name {
    margin-bottom: 20px;
    font-size: 76px;
}


.artist-show-background-photo {
    z-index: -100;
    position: absolute;
    width: 100%;
    max-height: 500px;
    top: 0;
    right: 0;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.separator {
    width: 100%;
    height: 100px;
    background: transparent;
}

.artists-albums-show-container {
    display: flex;
    flex-direction: column;
}


.artists-albums-show-container h2 {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -.005em;
    text-transform: none;
    margin: 24px;
    color: $text;
    font-family: $main-font;
    font-weight: bolder;
    margin-left: 24px;
}

.artists-albums-show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: $main-font;
    color: $text;
    padding: 0 20px;
}

.album-list-item {
    max-width: 245px;
}

.album-list-item img {
    margin: 10px;
    max-width: 225px;
    max-height: 225px;
    width: 100%;
    height: 100%;
}

.album-list-item h4 {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    word-wrap: break-word;
    opacity: 0.6;
}

#artist-index-item-img:before {
    content: url("data:image/svg+xml; utf8, <svg width='80' height='79' viewBox='0 0 80 79' xmlns='http://www.w3.org/2000/svg'><title>Artist Icon</title><path d='M53.043 50.486L46.68 46.83c-.636-.366-1.074-.99-1.2-1.716-.125-.725.077-1.462.555-2.02l5.178-6.072c3.287-3.84 5.097-8.743 5.097-13.803V21.24c0-5.85-2.447-11.497-6.716-15.5C45.266 1.686 39.596-.343 33.66.048c-11.12.718-19.83 10.326-19.83 21.87v1.3c0 5.063 1.81 9.964 5.096 13.802l5.18 6.074c.476.558.678 1.295.553 2.02-.127.723-.563 1.35-1.202 1.717l-12.697 7.3C4.124 57.9 0 64.982 0 72.61v5.92h2.97v-5.92c0-6.562 3.548-12.653 9.265-15.902l12.702-7.3c1.407-.81 2.372-2.19 2.65-3.788.276-1.598-.17-3.22-1.222-4.454l-5.18-6.077C18.356 31.787 16.8 27.57 16.8 23.216v-1.3c0-9.982 7.49-18.287 17.05-18.906 5.124-.326 9.99 1.41 13.712 4.9 3.727 3.493 5.778 8.227 5.778 13.332v1.977c0 4.352-1.557 8.57-4.385 11.872l-5.18 6.074c-1.05 1.234-1.496 2.858-1.22 4.456.278 1.597 1.242 2.977 2.647 3.785l4.51 2.59c1.048-.61 2.16-1.12 3.33-1.51zM66.84 37.133v22.71c-2.038-2.203-4.942-3.592-8.17-3.592-6.143 0-11.14 5-11.14 11.14 0 6.143 4.996 11.14 11.14 11.14 6.142 0 11.14-4.997 11.14-11.14V42.28l8.705 5.027L80 44.732l-13.16-7.6zM58.67 75.56c-4.504 0-8.17-3.664-8.17-8.17 0-4.504 3.664-8.168 8.17-8.168 4.504 0 8.168 3.664 8.168 8.17 0 4.504-3.664 8.168-8.17 8.168z' fill='currentColor' fillRule='evenodd'></path></svg>");
    margin: 10px;
    max-width: 225px;
    max-height: 225px;
    width: 100%;
    height: 100%;
    background-color: #272727;
}