@import '../utils.scss';

.featured-container {
    margin-bottom: 50px;
}

.featured-playlist-container {
    margin-top: 30px;
}

.featured-title {
    font-size: 34px;
    font-weight: bold;
}

.featured-ablum-title, .featured-artist-title {
    margin-bottom: 25px;
}