@import '../utils.scss';

.home-body {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -10;
    // collection/playlists 
    background-image: linear-gradient(to right bottom, rgb(130, 114, 23), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
    // collection/tracks
    // background-image: linear-gradient(to right bottom, rgb(30, 50, 100), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
    // browse/featured
    // background-image: linear-gradient(to right bottom, rgb(57, 84, 96), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.main-content-container {
    display: grid;
}