@import '../utils.scss';

.home-body {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.home-background-color {
    pointer-events: none;
    position: fixed;
    z-index: -100;
    width: 100%;
    height: 100%;
    background: black;
}

.main-content-container {
    display: grid;
    margin-bottom: 110px;
}