@import '../utils.scss';

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  font-family: $main-font;
  color: $text;
}

.playlist-form-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.playlist-form-close-button {
  background-color: transparent;
  border: none;
  margin-bottom: 40px;
}

.playlist-form-close-button:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.playlist-form-header {
  font-size: 48px;
  margin: 24px 0;
  font-weight: bold;
}

.playlist-form-header input {
  background-color: #282828;
}

.modal-input-container {
  width: 100%;
  height: 147px;
  padding: 0 20%;
  background-color: #282828;
  margin: 0 auto;
}

.modal-input-sub-container {
  position: relative;
  background-color: #282828;
  padding: 32px 0;
}

.modal-input-sub-container h4 {
  font-size: 12px;
  margin-bottom: 10px;
}

.modal-input-sub-container input {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -.005em;
    font-weight: var(--glue-font-weight-black);
    color: #fff;
    text-transform: none;
    caret-color: #1db954;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.modal-buttons {
  margin-top: 40px;
}

.modal-create-playlist-button {
  text-transform: uppercase;
  padding: 12px 42px;
  background: $green-button;
  color: $text;
  border-radius: 25px;
  font-weight: bold;
  outline: none;
  border: none;
  margin-left: 10px;
  font-size: 12px;
}

.cancel-button {
  background: transparent;
  padding: 10px 40px;
  border-radius: 25px;
  border: 2px solid $text;
  font-size: 12px;
  text-transform: uppercase;
  color: $text;
  margin-right: 10px;
}

.modal-create-playlist-button:hover, .cancel-button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.add-playlist-track-modal-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.add-playlist-track-modal-container li {
  padding: 0 20px;
}

.add-playlist-close-button {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  transform: scale(0.8);
}

.add-playlist-close-button:hover {
  transform: scale(1.0);
  transition: 0.3s;
}

.add-playlist-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
}

.add-playlist-track-playlist-index {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.add-playlist-track-playlist-index li {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.playlist-button-add-playlist-track-modal {
  padding: 10px;
  color: $text;
  background: transparent;
  border: none;
}

.playlist-button-add-playlist-track-modal:hover .svg-container {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-button-add-playlist-track-modal:hover .add-playlist-track-playlist-photo {
  z-index: -1;
}

.add-playlist-modal-svg {
  display: none;
}

.playlist-button-add-playlist-track-modal:hover .add-playlist-modal-svg {
  position: absolute;
  display: block;
  color: $text;
}

#new-playlist-button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.delete-playlist-header {
  text-align: center;
}