@import '../utils.scss';

body {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.5;
    color: #222326;
    background-color: #FFF;
}

.nav-splash {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    color: $text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $main-font;
    z-index: 9;
}

.nav-splash-logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    margin-left: 70px;
}

.logo-title {
    font-size: 24px;
    font-weight: bold;
}

.nav-splash-links {
    margin-right: 70px;
    padding-left: 20px;
    width: 180px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    border-left: 1px solid $text;
}

.nav-splash-links div:hover {
    color: $green-button-hover;
    cursor: pointer;
}

.splash-body {
    position: relative;
    overflow: hidden;
}

.splash-article {
    background-color: #F037A5;
    background: linear-gradient(#F037A5 -60%, #FAE62D 140%);
    color: $text;
    height: 800px;
    text-align: center;
}

.splash-body:after {
    content: "";
    display: block;
    clear: both;
}

.splash-svg-wrapper svg {
    position: absolute;
    left: 50%;
    width: 1610px;
    height: 1523px;
    background-position: top -510px center;
    transform: translate(-50%, -30%);
    background: url(https://www.scdn.co/i/home/hero-burst.svg) no-repeat;
    display: absolute;
    overflow: hidden;
}

.splash-svg-wrapper svg:not(:root) {
    overflow: hidden;
}

.splash-text {
    position: relative;
    top: 200px;
    font-family: $main-font;
}

.splash-text > p {
    padding: 15px;
}

.splash-body-tagline {
    font-size: 70px;
    font-weight: bold;
}