// Place all the styles related to the Api::Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../utils.scss';

// .track-index-container {

// }

.track-index {
    list-style: none;
    width: 100%;
}

.track-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    transition-duration: .2s;
    font-family: $main-font;
    animation: 0.5s ease-in-out;
    padding: 0 10px;
}

.track-list-item:hover {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.track-item-container {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.track-item-container:hover {
    cursor: pointer;
}

.track-item-container h2 {
    color: #F9FAFA;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.track-info-links-container {
    margin-left: 15px;
}

.track-info-links {
    display: flex;
    color: #9EA2AA;
    font-size: 14px;
    padding-top: 5px;
}

.track-info-links a:hover {
    text-decoration: underline;
    color: #F9FAFA;
    transition-duration: .5s;
}

.track-info-links a, .track-info-links p {
    padding-right: 5px;
}

.elipsis-dropdown-container {
    margin-right: 38px;
    margin-bottom: 15px
}

.elipsis-icon {
    display: none;
    transform: scale(0.8);
    position: absolute;
}

.elipsis-icon:hover {
    cursor: pointer;
}

.track-list-item:hover .elipsis-icon {
    display: block;
    transform: scale(0.8);
    text-align: right;
    padding-right: 1em;
}

.elipsis-dropdown-menu {
    display: block;
    position: absolute;
    opacity: 1;
    right: 117px;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    background-color: #282828;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
    z-index: 1000;
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    font-weight: 300;
    transition: 0.2s ease-in-out, top 0s, left 0s;
}

.elipsis-dropdown-menu button {
    background: transparent;
    color: #9EA2AA;
    outline: none;
    border: none;
    font-family: $main-font;
}

.track-length {
    color: #9EA2AA;
    min-width: 45px;
}


#musical-note-icon {
    display: block;
    position: absolute;
}

.track-list-item:hover #musical-note-icon {
    display: none;
}

#fa-play-icon {
    display: none;
    position: absolute;
}

.track-list-item:hover #fa-play-icon {
    display: block;
}

.track-item-icon {
    margin-right: 15px;
    padding-bottom: 15px;
}