@import '../utils.scss';

.music-player-nav-bar {
    position: fixed;
    bottom: 0;
    height: 90px;
    background: #272727;
    z-index: 9;
    width: 100%;
    color: $text;
    font-family: $main-font;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-player-current-track-info {
    width: 30%;
    display: flex;
    align-items: center;
}

.music-player-current-track-info img {
    width: 56px;
    height: 56px;
    margin-left: 15px;
}

.currently-playing-info-container {
    display: block;
    font-family: $main-font;
    font-size: 10px;
    margin-left: 10px;
    width: 50%;
}

.currently-playing-track-title {
    font-size: 12px;
}

.currently-playing-info-container a p {
    padding-top: 5px;
    color: $home-text;
    display: inline-block;
}

.currently-playing-info-container a p:hover {
    text-decoration: underline;
    color: $text;
}

.music-player-control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.music-controls button {
    background: transparent;
    color: $home-text;
    border: none;
    transform: scale(1.3);
}

.music-controls button:hover {
    color: $text;
}

.play-pause-button:hover {
    transform: scale(1.6);
}

.progress-bar-container {
    width: 80%;
    padding: 10px;
}

#track-progress-bar {
    width: 100%;
    height: 4px;
    background-color: grey;
    z-index: -2;
}

.track-time-container {
    display: flex;
    align-items: center;
    width: 95%;
}

#progress {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    height: 4px;
    background-color: green;
    z-index: 2;
}

.volume-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.volume-container input {
    margin-left: 10px;
}

.volume-container button {
    background: transparent;
    border: none;
    color: $text;
    padding: 0;
}

.mute-green svg {
    color: $green-button;
}