@import '../utils.scss';

.side-nav-bar-container {
    position: relative;
    float: left;
    width: 230px;
    height: 100%;
}

.side-nav-bar {
    position: fixed;
    background: #050708;
    color: $home-text;
    width: 230px;
    box-sizing: border-box;
    height: calc(100vh - 90px);
    padding: 24px 0px 5px;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    opacity: 0.8;
}

.side-nav-bar a {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 40px;
    position: relative;
}

.home-nav-link-containter {
    margin-top: 20px;
}

.nav-links {
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}

.home-nav-links:hover, .recently-played-ul a:hover {
    color: #FFFFFF;
    transition: 0.5s;
}

.side-bar-logo {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-bottom: 18px;
    color: $home-active-text
}

.nav-link-active {
    color: #FFFFFF; 
    box-shadow: 4px 0 0 #1ed760 inset;
    transition: 0.5s;
}

// .home-icon path:active {
//     fill: white;
//     path: "M 256.274 60.84 L 84.324 166.237 L 84.324 443.063 L 193.27 443.063 L 193.27 293.73 L 320.228 293.73 L 320.228 443.063 L 428.222 443.063 L 428.222 165.476 L 256.274 60.84 Z M 256.274 35.95 L 448.452 149.145 L 448.452 464.395 L 300 464.395 L 300 315.062 L 213.499 315.062 L 213.499 464.395 L 64.095 464.395 L 64.095 150.161 L 256.274 35.95 Z";
// }

.home-nav-recent-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-size: 14px;
}

.recently-played-title {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .16em;
    padding-left: 24px;
    padding-bottom: 10px;
}

.home-nav-recent-container ul {
    box-sizing: border-box;
}

.recently-played-ul a {
    height: 45px;
    display: block
}

.recently-played-ul li h2 {
    padding: 5px 0;
}

.profile-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-section img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 10px;
}

.profile-section span {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $text;
}

.recently-played-link {
    padding-left: 24px;
}

.recently-played-link-active {
    color: #FFFFFF; 
    box-shadow: 4px 0 0 #1ed760 inset;
    transition: 0.5s;
}

.profile-section button {
    border: none;
    background: transparent;
    margin-left: 10px;
    background: white;
    padding: 2px 10px;
    border-radius: 20px;
    color: black;
}